.header {
  background-color: #006677;
  font-size: 15px; }

.upper .left {
  float: left;
  width: 50%; }

.upper .right {
  float: right;
  width: 50%; }

.slider {
  width: 100%;
  height: 80px; }

.lower {
  position: absolute;
  bottom: 0; }
