$color : #006677;
$size : 15px;

.header {
	background-color: $color;
	font-size: $size;
}
.upper {

}

.upper .left {
	float: left;
	width: 50%;
}

.upper .right {
	float: right;
	width: 50%;
}

.slider {
	width: 100%;
	height: 80px;
}

.lower {
	position: absolute;
	bottom: 0;
}
