#productTitle {
	background-color: yellow;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
#bigImg {
	background-color: white;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
#pricing {
	background-color: white;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
#billing {
	background-color: white;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
#btn-msg {
	background-color: white;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
#slider {
	background-color: white;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}