.outter {
	background: #999;
	padding: 10px;
}

.inner {
	background: #ccc;
	height: 200px;
/*	margin: 20px; */
}

#title {
	height: 30px;
}

#top {
	height: 400px;
}

.ontop {
	float: left;
	background: green;
	margin: 20px;
}

#left {
	background: white;
}

#right {
	background: yellow;
	padding: 10px;
}

.rightchild {
	background: darkorange;
	height: 40px;
	margin: 2px;
}

#lilform {
	display: inline;
}

#button {
	height: 50px;
}